<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/form.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
</head>

<body>
    <h1>Upload File</h1>
    <%- include("partials/errors.ejs") %>
        <form action="/upload-file" method="POST" enctype="multipart/form-data">
            <fieldset>
                <label for="file">Select a file</label>
                <input id="file" name="uploaded_file" type="file" accept=".pdf,.doc,.docx,.png,.jpg,.jpeg,.txt,.csv" />
                <label for="folder">Select Folder:</label>
                <select name="folder" id="folder">
                    <option value="">None</option>
                    <% folders.forEach(folder=> { %>
                        <option value="<%= folder.id %>">
                            <%= folder.name %>
                        </option>
                        <% }) %>
                </select>


            </fieldset>



            <button type="submit">Upload</button>
        </form>
</body>

</html>